@media only screen and (max-width: 600px) {
  iframe {
    display: block;

    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  iframe {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
  }
}
